@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #141b1c
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // padding: 115px 132px;
}

.top-section {
    width: 1176px;
    height: 770px;
    display: flex;
    justify-content: center;
}

.price-card {
    background: #334247;
    margin-right: 18px;
    width: 380px;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    &:last-child {
        margin-right: 0px;
    }
}

.price-card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33px;
}

.price-card-popular {
    width: 25px;
    height: 147px;
    background-color: #DC3F45;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    position: absolute;
    right: 30px;
    top: -30px;
    overflow: hidden;
}

.popular {
    transform: rotate(90deg);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #fff;
}

.price-card__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.price-card__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
    margin: 0;
}

.price-card__price {
    height: 105px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    margin-top: 33px;
    color: #fff;
}

.basic-color {
    background-color: #5BB189;
    ;
}

.business-color {
    background-color: #3A6BA5;
}

.webshop-color {
    background-color: #EC632A;
}

.price-card__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin: 0;
    margin: 40px 26px;
    color: #fff;
}

.price-card__list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: flex-start;
    margin-right: auto;
}

.list-item:nth-child(odd) {
    background-color: #2A3438;
}

.list-item__image {
    margin: 0;
    margin: 18px 22px 19px 22px;
}

.list-item__text {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    padding: 0;
}

.order-button {
    height: 40px;
    width: 154px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: none;
    margin-top: 39px;
}