@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #141b1c
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-section {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin: 115px 132px;
}

.price-card {
    background: #334247;
    margin-right: 18px;
    width: 380px;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child {
        margin-right: 0px;
    }
}

.price-card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33px;
}

.price-card__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.price-card__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
    margin: 0;
}

.price-card__price {
    height: 105px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    margin-top: 33px;
    color: #fff;
}

.basic-color {
    background-color: #5BB189;
    ;
}